:root {
    --color-text: hsl(39, 39%, 83%);
    --color-text-highlight: hsl(44, 85%, 68%);
    --color-text-dark: hsl(40, 3%, 20%);
    --box-shadow-color: #2222227c;
    --border-radius: 0.666rem;

    --color-border-primary: lightgrey;
    --color-border-secondary: rgb(63, 63, 63);
    --color-border-tertiary: darkslategrey;
    --color-background-primary: hsl(39, 10%, 50%);
    --color-background-secondary: hsl(40, 3%, 20%);
    --font-mono: 'Lucida Console';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: system-ui, sans-serif;
    color: var(--color-text);

    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 25px 25px rgba(0, 0, 0, 0.25) inset;
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 25px 25px var(--box-shadow-color);
    background-color: var(--box-shadow-color);
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: 0 auto;
        border-radius: var(--border-radius);
    }
}

.input {
    font-size: 1.333em;
    border: 0;
    border-radius: 0.5em;
    outline: none;
    padding: 0.15em 0;
    text-indent: 0.15em;
    margin: none;
    color: var(--color-text);
}

.transparent {
    background-color: transparent !important;
}

input,
textarea {
    color: var(--color-text-highlight)
}

input::placeholder,
textarea::placeholder {
    color: var(--color-text)
}

.fadein {
    transition: background-color 0.5s;
}

.fadein:hover {
    background-color: var(--box-shadow-color);
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1em;
}

@media (min-width: 1200px) {
    .list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.list-item {
    list-style-position: inside;
    padding: 0.25em;
}

a,
a:visited,
a:active {
    color: var(--color-text-highlight);
    text-decoration: none;
    width: 100%;
}

.col-span-2 {
    grid-column: span 2;
}

.bottom-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
}

#footer h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

#footer p {
    font-size: 0.9rem;
    margin: 0;
}

#footer .btn {
    border: none;
    font-size: 0.75rem;
    margin: 0;
    padding: 0 4px;
    outline: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

#footer {
    width: 50vw;
    max-width: 1280px;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 2rem 2rem 0 0;
    color: white;

    padding: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}